workflows/chatAssistantSlack/subworkflows/QuestionAssistant.json
{
  "name": "QuestionAssistant",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"message\": \"...\",\n  \"post_id\": \"...\",\n  \"channel_id\": \"...\",\n  \"is_thread\": false,\n  \"thread_root_id\": \"...\",\n  \"user_name\": \"...\",\n  \"category\": \"incident\",\n  \"confidence\": 0.95,\n  \"summary\": \"...\",\n  \"channel_name\": \"...\",\n  \"file_ids\": [\"x4t1k...\", \"9bzqm...\"]}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        368
      ],
      "id": "7e0b758f-07f6-482c-aa53-0e90d7367522",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please provide information on our infrastructure from {{ $json.user_name }}\nin channel {{ $json.channel_id }}{{ $json.is_thread ? ' (message is in a thread, thread_root_id=' + $json.thread_root_id + ' — read the full thread via Slack conversations_replies first)' : '' }}\n\n{{ $json.message }}{{ $json.attachments_context && $json.attachments_context.trim().length > 0 ? '\\n\\nAdditional information from attachments:\\n' + $json.attachments_context : '' }}",
        "options": {
          "systemMessage": "=You are a senior DevOps/SRE assistant for your organization's infrastructure. Your main goal is to answer questions about infrastructure configuration.\n\n## Message context\n\nThe request can come either from a main channel message or from a thread reply.\n\n- channel_id: {{ $json.channel_id }}\n- is_thread: {{ $json.is_thread }}\n- thread_root_id: {{ $json.thread_root_id }}\n\nIf `is_thread` is true, the user's question is part of an ongoing Slack thread.\nBefore investigating, call Slack `conversations_replies` with `channel_id` and `thread_root_id`\nexactly ONCE to load the full conversation. Earlier messages in the thread\noften contain critical context: links to failing jobs, error logs, repository\nnames, previous hypotheses, or clarifications from the user.\n\nRules for reading the thread:\n- Call `conversations_replies` only once, at the very start, before any other tool.\n- Ignore messages authored by the bot itself (previous assistant replies) when\n  extracting the problem description. Focus on messages from human users.\n- Treat the user prompt (the message below) as the LATEST question —\n  prior thread messages are background context, not the current ask.\n\nIf `is_thread` is false, skip this step. The message in the user prompt\nis the entire request; do not fetch thread history.\n\nProject name: ``\nProject description:\nEnvironments: `dev/stage` and `prod`\nGitLab group: ``\nMain cloud providers: DigitalOcean\n\n## Important rules\n- Don't ask anything, analyze it yourself\n- Set limit no more than 10 days when using tool `conversations_history`\n\n## Determine which part of the infrastructure the question concerns\n- Proxy traffic routing settings\n- Kubernetes cluster settings\n- Datastore settings\n- Monitoring/Alerting\n- Logging settings\n- CI/CD settings\n- Resource consumption\n\n### Main infrastructure repositories\n* List of repos\n\n### Datastore settings\n<Description of how databases are deployed and where their code is located>\n\n- Use GitLab MCP for access to IaC. Read README.md in the root repository to learn more about its structure\n- Use DigitalOcean MCP tools if you need to check current Droplet, Volume, or Object storage configuration\n- If you can't find the required settings in the code, look for the default settings in the official documentation for the resource.\n\n### Kubernetes cluster settings\nWe use managed Kubernetes clusters in our main cloud providers.\nCluster context naming:\n<environment>-<region>\nenvironment: dev, prod\nregions:\n- Use GitLab MCP for access to IaC\n- Use Kubernetes MCP tools if you need to check current resource configuration: configmaps, secrets, deployments, etc.\n- If you can't find the required settings in the code, look for the default settings in the chart documentation.\n\n### Monitoring/Alerting\nWe use kube-prometheus-stack.\nIf your question is related to monitoring, metrics, or alerts, you can find details in the repository —\nAlert rules are in —\n\n### Logging\nIf your question is related to logs or Loki, you can find details in the repository —\n\n### CI/CD settings\nDetermine which repository the issue belongs to and check its pipeline settings.\n- Use GitLab MCP\n\n### Resource consumption\nIf the question concerns current resource consumption, look for data for the last 30 minutes.\nProduction metrics: prometheus datasource uid {{ $('SetVars').first().json.prometheus_uid }}\nDev/stage metrics: configure in SetVars if you use separate datasources\n\nUse Grafana MCP for metrics and logs.\n\n## Grafana Tools\nUse these to query metrics, logs, dashboards:\n- **Prometheus**: query_prometheus for PromQL queries (CPU, memory, request rates, error rates). Datasource uid: {{ $('SetVars').first().json.prometheus_uid }}\n- **Loki**: query_loki_logs for LogQL log searches. Datasource uid: {{ $('SetVars').first().json.loki_uid }}\n- **Dashboards**: search_dashboards, get_dashboard_summary to find relevant dashboards\n\n## Vector store MCP tools\n- Read information about infrastructure, service communication, traffic balancing, useful tags and labels, and naming conventions\n\n## Slack tools\n- Use `conversations_replies` to read the full thread context when `is_thread` is true.\n- Use `conversations_history` with a limited time range when channel history is needed.\n- Do not use Slack tools to post replies — replies are sent by the workflow after your response.\n\n## Critical Rules for Tool Usage\n1. **Never retry a failed tool call more than once.** If a Kubernetes resource (pod, deployment, node) is not found on the first attempt, it likely no longer exists. Do NOT retry the same query.\n2. **If any tool returns an error or empty result**, acknowledge it and move on.\n3. Don't make any changes to anything through MCP.\n4. Avoid queries that return all elements; filter and grep.\n5. When working with metrics, logs, and traces, always specify a limited time range in your queries.\n6. Never try to get all events from Kubernetes without filtering by a specific object, for example a certain pod, job, or deployment\n\n## Output format\nDescribe the current settings or state of affairs.\nIf we are talking about settings, write where they are defined.",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        880,
        368
      ],
      "id": "c5b33eb7-c445-4ed1-b6c1-cdeb8a91ca44",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://<your-mcp-gateway-host>/grafana/mcp",
        "include": "selected",
        "includeTools": [
          "get_datasource",
          "get_panel_image",
          "list_datasources",
          "list_loki_label_names",
          "list_loki_label_values",
          "query_loki_logs",
          "query_loki_patterns",
          "query_loki_stats",
          "list_prometheus_label_names",
          "list_prometheus_label_values",
          "list_prometheus_metric_metadata",
          "list_prometheus_metric_names",
          "query_prometheus",
          "query_prometheus_histogram",
          "search_dashboards",
          "search_folders"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1136,
        1024
      ],
      "id": "99da6463-2e23-4de9-a363-9edc56a124ee",
      "name": "Grafana"
    },
    {
      "parameters": {
        "endpointUrl": "https://<your-mcp-gateway-host>/digitalocean/mcp",
        "include": "selected",
        "includeTools": [
          "apps-get-deployment-status",
          "apps-get-info",
          "apps-get-logs",
          "apps-list",
          "byoip-prefix-resources-get",
          "byoip-prefix-list",
          "certificate-get",
          "certificate-list",
          "doks-get-cluster",
          "doks-get-nodepool",
          "doks-list-clusters",
          "doks-list-nodepools",
          "doks-list-options",
          "domain-get",
          "domain-list",
          "domain-record-get",
          "domain-record-list",
          "droplet-get",
          "droplet-list",
          "firewall-get",
          "firewall-list",
          "lb-get",
          "lb-list",
          "region-list",
          "reserved-ip-list",
          "reserved-ip-get",
          "size-list",
          "vpc-get",
          "vpc-list"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1024,
        1024
      ],
      "id": "d008a136-e8be-4f0e-b238-6d04f15eaac4",
      "name": "DigitalOcean"
    },
    {
      "parameters": {
        "endpointUrl": "http://<your-kubernetes-mcp-host>:<port>/mcp",
        "include": "selected",
        "includeTools": [
          "configuration_view",
          "events_list",
          "namespaces_list",
          "nodes_log",
          "nodes_top",
          "pods_get",
          "pods_list",
          "pods_list_in_namespace",
          "pods_log",
          "pods_top",
          "resources_get",
          "resources_list"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        896,
        1024
      ],
      "id": "a1712fc5-2fe4-4cf9-825d-8536ffe8d533",
      "name": "K8S"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to fetch knowledge our IT infrastructure. ",
        "qdrantCollection": {
          "__rl": true,
          "value": "<your-infrastructure-qdrant-collection>",
          "mode": "list",
          "cachedResultName": "<your-infrastructure-qdrant-collection>"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1408,
        1024
      ],
      "id": "d6cbe64c-4c65-40a4-ae2b-d0ef3edc4105",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "o50PYyzSFxY0V7R8",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        1216
      ],
      "id": "ea505260-23ce-46f4-98cb-204862d30498",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BAV50tB4x11iSv3t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Read the classification object passed from the parent classifier workflow.\n// Available fields: message, post_id, channel_id, user_name, user_id,\n// channel_name, timestamp, category, confidence, summary\n\nconst data = $input.first().json;\n\nconsole.log(`Request received: ${data.summary}`);\nconsole.log(`From: ${data.user_name} in #${data.channel_name}`);\nconsole.log(`Confidence: ${data.confidence}`);\n\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        368
      ],
      "id": "c0ca5cf6-95bf-4af3-8a7b-601e06f89be7",
      "name": "ReadIncidentContext"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8cb35fa-467e-4060-9f95-6386dc27a5b5",
              "name": "GITLAB_GROUP",
              "value": "<your-gitlab-group>",
              "type": "string"
            },
            {
              "id": "8471f4ad-0bdc-421b-887c-8bd7b2c4528e",
              "name": "K8S_NAMESPACE",
              "value": "<your-primary-k8s-namespace>",
              "type": "string"
            },
            {
              "id": "7ab0b058-000e-4648-80cf-99132937e456",
              "name": "SLACK_CHANNEL",
              "value": "<your-slack-channel-name>",
              "type": "string"
            },
            {
              "id": "dfc64c71-82a9-4e67-b91b-7fd675256448",
              "name": "K8S_CLUSTERS",
              "value": "<your-dev-cluster-context>,<your-prod-cluster-context>",
              "type": "string"
            },
            {
              "id": "c4d1bc7f-5d84-48b6-99ce-091d332ece58",
              "name": "prometheus_uid",
              "value": "<your-prometheus-datasource-uid>",
              "type": "string"
            },
            {
              "id": "be454984-d00d-45cd-8895-34edd7b3d681",
              "name": "loki_uid",
              "value": "<your-loki-datasource-uid>",
              "type": "string"
            },
            {
              "id": "2bf9471e-460d-4f8d-8ab5-47e0397d485c",
              "name": "channel_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.channel_id }}",
              "type": "string"
            },
            {
              "id": "d787b1d8-8a36-4ff9-b02c-8979e78d4a29",
              "name": "=user_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.user_id }}",
              "type": "string"
            },
            {
              "id": "af97f081-b654-44a5-8e95-af27158b5f7c",
              "name": "=user_name",
              "value": "={{ $('When Executed by Another Workflow').item.json.user_name }}",
              "type": "string"
            },
            {
              "id": "fba482b0-3a6b-40f8-8b88-381cbcd8f5e0",
              "name": "is_in_thread",
              "value": "={{ $('When Executed by Another Workflow').item.json.is_thread }}",
              "type": "string"
            },
            {
              "id": "12bfd924-37c3-47b9-85b3-6c35f1dd6ef1",
              "name": "thread_root_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.thread_root_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        368
      ],
      "id": "77e9a38b-26e6-4805-9502-055bacd3ae4e",
      "name": "SetVars"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        560
      ],
      "id": "d2d74259-16e5-4c59-a2c8-4c9a97941714",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XedjbHsqkge0ycmt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('SetVars').item.json.channel_id }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('SetVars').first().json.thread_root_id }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1568,
        368
      ],
      "id": "47e419f4-aa00-4673-b6cf-8be15af7cd04",
      "name": "Send a message",
      "webhookId": "28028a96-a167-495a-a1c1-5f25838bad0c",
      "credentials": {
        "slackApi": {
          "id": "nu3n0nBPHyw3mdS8",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://<your-mcp-gateway-host>/slack/mcp",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "channels_list",
          "conversations_history",
          "conversations_replies",
          "usergroups_list",
          "users_search"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        768,
        1024
      ],
      "id": "93973f79-2d81-4c2d-a989-8f0dce814f43",
      "name": "Slack",
      "credentials": {
        "httpBearerAuth": {
          "id": "iFWTS5UMtoX8Mjwt",
          "name": "Slack MCP"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "<your-attachments-analyzer-subworkflow-id>",
          "mode": "list",
          "cachedResultUrl": "/workflow/<your-attachments-analyzer-subworkflow-id>",
          "cachedResultName": "AttachmentsAnalyzer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_ids": "={{ $json.file_ids }}"
          },
          "matchingColumns": [
            "file_ids"
          ],
          "schema": [
            {
              "id": "file_ids",
              "displayName": "file_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        32,
        368
      ],
      "id": "fe945147-e8cf-43ff-9765-f9b3698c80c1",
      "name": "Call 'attachmentsAnalyzer'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "02911a83-0a32-46d3-b12c-65e90713b7cd",
              "name": "attachments_context",
              "value": "",
              "type": "string"
            },
            {
              "id": "9a5c0de3-8c69-48f3-b420-f333e29668de",
              "name": "attachments_count",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        576
      ],
      "id": "ecd1aef8-2c22-4213-8512-e32b01859864",
      "name": "Set: empty attachments"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        368
      ],
      "id": "2282628f-7cc9-44ca-bd2c-acf9153ef70d",
      "name": "Merge"
    },
    {
      "parameters": {
        "endpointUrl": "https://<your-mcp-gateway-host>/gitlab/mcp",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "search_repositories",
          "get_file_contents",
          "get_merge_request",
          "get_merge_request_diffs",
          "list_merge_request_changed_files",
          "list_merge_request_diffs",
          "get_merge_request_file_diff",
          "list_merge_request_versions",
          "get_branch_diffs",
          "get_project",
          "list_projects",
          "list_project_members",
          "list_labels",
          "get_label",
          "list_group_projects",
          "get_repository_tree",
          "list_merge_requests",
          "get_users",
          "get_user",
          "get_commit",
          "list_commits",
          "get_commit_diff",
          "list_pipelines",
          "get_pipeline",
          "list_pipeline_jobs",
          "list_pipeline_trigger_jobs",
          "get_pipeline_job",
          "get_pipeline_job_output",
          "list_job_artifacts",
          "get_job_artifact_file",
          "discover_tools"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1264,
        1024
      ],
      "id": "be8be8ce-f5e5-4515-b658-8e0d555b61d8",
      "name": "Gitlab",
      "credentials": {
        "httpBearerAuth": {
          "id": "VNoXdGrUGjJVmfgh",
          "name": "MCP token"
        }
      }
    },
    {
      "parameters": {
        "content": "## Input Chain\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n```\n[\n  {\n    \"message\": ,\n    \"post_id\": ,\n    \"channel_id\": ,\n    \"channel_name\": ,\n    \"user_name\": ,\n    \"user_id\": ,\n    \"file_ids\":,\n    \"category\": ,\n    \"confidence\": ,\n    \"summary\": ,\n    \"acknowledge\": ,\n    \"is_in_thread\":,\n    \"thread_root_id\": ,\n  }\n]\n```",
        "height": 656,
        "width": 432,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        272
      ],
      "typeVersion": 1,
      "id": "9b7cfc98-98c7-4813-b3d9-dbb66e0451c8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Check attachments\nCalling a subworkflow to get context from attachments",
        "height": 656,
        "width": 752,
        "color": "#2D2E05"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        272
      ],
      "typeVersion": 1,
      "id": "1f7ee5b1-c30b-4fc7-83d7-0d71e8d407c2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Question analisys",
        "height": 656,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        272
      ],
      "typeVersion": 1,
      "id": "01121b24-79ad-47ee-8512-529a898b0651",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n## MCP servers\nAdd correct URLs for remote MCPs\nUse following mcp:\n* [grafana-mcp](https://github.com/grafana/mcp-grafana)\n* [gitlab-mcp](https://github.com/zereight/gitlab-mcp)\n* [kubernetes-mcp-server](https://github.com/containers/kubernetes-mcp-server)\n* [slack-mcp](https://github.com/korotovsky/slack-mcp-server)\n* [digitalocean-mcp](https://github.com/digitalocean/digitalocean-mcp)",
        "height": 416,
        "width": 1008,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        960
      ],
      "typeVersion": 1,
      "id": "c2424d65-6832-49fa-9170-947a6a4b45ef",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Overview\nAI-powered sub-workflow that answers questions about a your infrastructure configuration directly in a Slack channel or thread\n\n## Requirements\n* OpenRouter/OpenAI/Anthropic API key — for the chat model .\n* MCP servers (see MCP section) .\n* Slack credentials.\n* Qdrant instance\n* `attachmentsAnalyzer` sub-workflow — must be present in the same n8n instance; analyzes files attached to the originating Slack message and returns a textual context.\n* `httpProbeTool` sub-workflow — provides the probe_url tool that the agent uses to verify reachability of external dependencies; must return structured\n* [Parent workflow]() — a classifier  that calls this workflow via Execute Workflow \n\n## How it works\n1. The workflow is triggered by another workflow\n1. `ReadIncidentContext` logs the request and forwards the payload\n1. Call '`attachmentsAnalyzer` invokes a vision sub-workflow with the file_ids\n1. `SetVars` sets workflow-level constants\n1. `AI agent` generates a response based on the system prompt, knowledge base, and access to repositories.\n1. The agent's response is posted back to Slack via the `Send a message` node\n\n## How to use\n* Upload your infrastructure documentation (Markdown, YAML, runbooks) into Qdrant\n* Import the attachmentsAnalyzer sub-workflow and update the workflow\nreference inside\n* Deploy or point to your MCP servers\n* Configure credentials\n* Edit the AI Agent system message to describe your infrastructure\n* In SetVars, replace the example \n* Wire this workflow up to an upstream router \n",
        "height": 736,
        "width": 1216,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        960
      ],
      "typeVersion": 1,
      "id": "48f38ae4-9863-4660-a667-450faf879875",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Output chain",
        "height": 656,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        272
      ],
      "typeVersion": 1,
      "id": "62f48e77-f3ba-444d-b480-a7279e2129b8",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "ReadIncidentContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grafana": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DigitalOcean": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "K8S": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadIncidentContext": {
      "main": [
        [
          {
            "node": "Call 'attachmentsAnalyzer'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetVars": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'attachmentsAnalyzer'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: empty attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: empty attachments": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SetVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gitlab": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ba378d7a-2f09-4966-8431-72bef51ad780",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe499714493cdc74663e934c47a4304142d5fdad121b92545a7b7d26f7cef28e"
  },
  "id": "eVNtUuSzpd0kcsmR",
  "tags": []
}